.dashboard {
  margin: 0 auto;
  max-width: $max-width;
  padding: 1rem;

  display: flex;
  &__aside {
    flex-basis: 250px;
  }
  &__main {
    min-height: 100vh;

    display: flex;
    // align-items: center;
    justify-content: center;
  }
}
