.dashboard {
  margin: 0 auto;
  max-width: $max-width;
  padding: 0;

  display: flex;
  &__aside {
    flex-basis: 250px;
  }
  &__body {
    width: 100%;
    min-height: 90vh;
    padding: 1rem;
    .main {
      display: flex;
      // align-items: center;
      // justify-content: center;
    }
  }
}
